@{
    ViewData["Title"] = "Home Page";
}

    <form asp-action="SearchMake" asp-controller="Car">
        <input type="text" name="make" placeholder="Search by Make" />
        <input type="submit" value="search" />
    </form>
